<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTest_TcpServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnitTest_TcpServer.Properties.Settings>
            <setting name="ip" serializeAs="String">
                <value>192.168.196.10</value>
            </setting>
            <setting name="WaitingTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PortDefault" serializeAs="String">
                <value>3121</value>
            </setting>
            <setting name="PortPrint" serializeAs="String">
                <value>5001</value>
            </setting>
            <setting name="EndCharacter" serializeAs="String">
                <value>&amp;</value>
            </setting>
        </UnitTest_TcpServer.Properties.Settings>
    </userSettings>
</configuration>